/*Main Interface Style*/
.root{
    /*Merge two color in background*/
    -fx-background-color: linear-gradient(#f2f2f2,#cccccc);
    -fx-font-size: 11px;
}
#search_one
{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
}
#search_one:hover
{
    -fx-background-color:
            #FF8F00,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #FFF3E0 49%, #FFCC80 50%, #FFB74D 100%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}
#search_list
{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}

#search_list:hover
{
    -fx-background-color:
            #FF8F00,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #FFF3E0 49%, #FFCC80 50%, #FFB74D 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
}
#empl_id{
    -fx-text-fill: #673ab3;
}
#empl_name{
    -fx-text-fill: #673ab3;
}
#empl_address{
    -fx-text-fill: #673ab3;
}


#employees_list .column-header-background .label{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-text-fill: #3c7fb1,
           linear-gradient(#3c7fb1, #e8f5fc),
           linear-gradient(#eaf6fd 0%, #FFF3E0 49%, #FFCC80 50%, #FFB74D 100%);;
}


